<div class ="card" style ="width:25rem">
    <div class="card-body">
<form [formGroup]="formTemplate">

    <div class="form-group">
        <label>Select file to upload</label>
        <input type="file" class="form-control" formControlName="imageUrl">
    </div>
    <div class="form-group">
        <input  class="form-control" formControlName="caption" placeholder="Caption">
    </div>
    <div class="form-group">
        <label>Select file to upload</label>
        <input type="file" class="form-control" formControlName="imageUrl">
    </div>
    <div class="form-group">
        <select class="from-control" formControlName="category">
            <option value="People">People</option>
            <option value="Nature">Nature</option>
            <option value="Any">Any</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success float-right">Submit</button>
    </div>

</form>
    </div>

</div>

